.cursor-tail-container {
  position: relative;
}

#cursor-tail {
  width: 120px;
  height: 120px;
  background: radial-gradient(
      circle at top left,
      white,
      transparent 70%,
      transparent
    ),
    radial-gradient(
      circle at bottom right,
      #6c9bff,
      transparent 70%,
      transparent
    ),
    url("../images/moon.svg");
  background-size: cover; /* or contain */
  background-position: center;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease;
  animation: spin 12s linear infinite;
}

#cursor-tail.visible {
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
