@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  scroll-behavior: smooth;
  background: #eff9fb;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #6c9bff;
  transform-origin: 0%;
}

.markdown-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.markdown-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 25px;
}

.markdown-container strong {
  color: rgba(0, 0, 0, 0.711);
}

.markdown-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.markdown-container p {
  padding-bottom: 12px;
  margin-bottom: 5px;
}

.markdown-container img {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.markdown-container a {
  color: blue;
  font-weight: 600;
}

.markdown-container ul {
  list-style-type: disc;
  width: max-content;
  max-width: 100%;
  margin: auto;
}