@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  scroll-behavior: smooth;
  background: #eff9fb;
  font-family: "oxygen", sans-serif;
}

*::selection {
  background-color: #6c9bff;
  color: white;
}

.marquee {
  overflow: hidden;
  position: relative;
  height: "full";
}

.marquee-content {
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #6c9bff;
  transform-origin: 0%;
}

.markdown-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.markdown-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 25px;
}

.markdown-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.markdown-container p {
  padding-bottom: 12px;
  margin-bottom: 5px;
}

.markdown-container img {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.markdown-container a {
  color: blue;
  font-weight: 600;
}

.markdown-container ul {
  list-style-type: disc;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
